
B&W_photo.jpg
Black and white.cpp
Black and white.txt
Grayscale.cpp
Grayscale.txt
Grayscaledphoto.jpg
Horizontal.jpg
Invert.jpg
Inverted Colour.cpp
Inverted Colour.txt
Photo.jpg
Seif- Flip filter - V1
Seif- Flip filter - V1.cpp
Vertical.jpg
B&W_photo.jpg
Black and white.cpp
Black and white.txt
Grayscale.cpp
Grayscale.txt
Grayscaledphoto.jpg
Horizontal.jpg
Invert.jpg
Inverted Colour.cpp
Inverted Colour.txt
Photo.jpg
Seif- Flip filter - V1
Seif- Flip filter - V1.cpp
Vertical.jpg
v6.cpp
Framefilter.exe
CS112_A3_Part1_S1_20230187_20230361_20230378.exe
CS112_A3_Part1_S1_20230187_20230361_20230378.cpp
b.jpg
.vscode/settings.json
merge images filter.cpp
crop.cpp
crop.exe
merge images filter.exe
p.jpg
p2.jpg
V7.cpp
V7.exe
V7.cpp
V7.cpp
V7.cpp
